html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
body{
    background-image: url(../bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.top-bar {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    padding: 10px;
    border-bottom: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    height: 60px;
  }
  
  .nav-links {
    margin-top: 10px;
  }
  
  .nav-links a {
    margin: 0 8px;
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
  }
  
  .hot {
    color: red;
    font-size: 12px;
    background-color: yellow;
    padding: 0 4px;
    border-radius: 3px;
  }
  
  .button-bar {
    margin-top: 10px;
  }
  
  .button-bar button {
    margin: 5px;
    background-color: orange;
    border: none;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 30px;
  }
  
  .game-screen {
    display: flex;
    flex: 80px;
    text-align: center;
    justify-content: center;
    margin: 40px auto;
    
  }
  
  .screenshot {
    width: 90%;
    max-width: 600px;
    border: 3px solid #99ccff;
    width: 1100px;
    max-width: 95%; 
    display: block;
    
  }
  
  .login-panel {
   
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: 2px solid #1e90ff;
    border-radius: 5px;
    margin-left: auto;
  }
  
  .login-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .login-panel input {
    display: block;
    width: 90%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .login-panel button {
    padding: 8px 20px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .bottom-nav {
    background-color: #e1f0ff;
    padding: 10px;
    text-align: center;
  }
  
  .bottom-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .bottom-nav li {
    display: inline;
    margin: 0 10px;
  }
  
  .bottom-nav a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
  }
  
  .top-banner img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .mid-banner {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .bottom-banner {
    width: 1100px;
    margin-left: 100px;
    margin-top: 0px;
    padding-top: opx;
  }
  
  .search-bar {
    width: 100%;
    display: block;
  }
  
  .bottom-banner {
    width: 1100px;
    margin-right: auto;
    margin-top: -20px; 
  }

  
  